<div xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
     th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">My Simple Forum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/topics}">Topics</a>
                    </li>
                </ul>
            </div>
            <div class="mx-3 navbar-text" th:text="${#request.remoteUser == null ? 'Quest' : #request.remoteUser }"></div>
            <div th:if="${#request.remoteUser}">
                <a th:href="@{/logout}" type="submit" class="btn btn-info">Log out</a>
            </div>
            <div th:if="${#request.remoteUser == null}">
                <a th:href="@{/reg}" type="submit" class="btn btn-info">Registration</a>
            </div>
        </div>
    </nav>
</div>
