<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>

</head>
<body>
<div layout:fragment="replace_fragment">
    <div class="row">
        <div class="col">
            <h1>Welcome <span th:text="${user.username}"></span></h1>
        </div>

        <div class="col">
            <h3>Let's write your post!</h3>
        </div>
        <div>
            <a class="btn btn-primary" th:href="@{/addPost}">Add new post</a>
        </div>

        <div class="row">
            <a th:href="@{/topics}">Look more interesting topics</a>
        </div>
    </div>
</div>


</body>
</html>