<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>

</head>
<body>
<div layout:fragment="replace_fragment">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Тема</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="topic : ${topics}" id="topic-el">
                <td><a th:href="@{/getTopic/{topic}(topic = ${topic})}" th:text="${topic}"></a></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <a class="btn btn-primary" th:href="@{/addPost}">Add new post</a>
        </div>
    </div>
</div>
</body>
</html>